@import "variables";
@import "mixins";

@import "base";
@import "typography";

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  user-select: none;
  cursor: default;
}
