// Variables
//
// Customisable global variables for the theme.

// Primary brand colours
$brand-color-ink-black: #1a1a1a;
$brand-color-wine-red: #903;

// Neutral colours
// TODO: Add more shades of grey.
$color-white: #fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #868e96;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black: #000;

// Utility colours
// TODO: figure out a colour palette for all this. Currently it's copied over
// from Bootstrap's colour schemes
$color-primary: #007bff;
$color-secondary: #868e96;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa; // this should point back to one of the shades of grey
$color-dark: #343a40; // same as above.

// Font stack
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, "Consolas", "Liberation Mono", "Courier New", monospace;

// Font dimensions
$root-font-size: 16px;
$root-line-height: 1.5;

// Grid breakpoints
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

// Global elements
$body-color: $color-black;
$background-color: #f8f8f8; // should reassign to the shades of grey
$link-color: $brand-color-wine-red;
