@import "~styles/variables";
@import "~styles/mixins";

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
  cursor: default;

  // Add a tiny border if we're running inside of Electron.
  &.is-electron {
    border: 1px solid lighten($brand-color-wine-red, 5%);
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // Make sure whole app doesn't overlap with the titlebar.
  padding-top: 31px;
}
