@import "~styles/variables";
@import "~styles/mixins";

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  user-select: none;
  cursor: default;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  height: 100%;
  margin-top: 0;
}
