@import "~styles/variables";
@import "~styles/mixins";

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
  cursor: default;

  &.is-electron {
    .main {
      // Make sure whole app doesn't overlap with the titlebar.
      height: calc(100% - 31px);
      margin-top: 31px;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  height: 100%;
  margin-top: 0;
}
