@import "~styles/variables";
@import "~styles/mixins";

.top-navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $brand-color-wine-red;
  color: $color-white;

  &__collapse-button {
    float: right;
  }

  a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

    @include on-event() {
      background-color: $brand-color-ink-black;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
