@import "~styles/variables";
@import "~styles/mixins";

.top-navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $brand-color-wine-red;
  color: $color-white;

  &__collapse-button {
    float: right;
    cursor: pointer;
  }

  a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

    &.active {
      background-color: #131313;
    }

    @include on-event() {
      background-color: $brand-color-ink-black;
    }
  }

  &__links {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.expanded {
      display: block;
    }
  }
}
