/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";

@import "~styles/variables";
@import "~styles/mixins";

html {
  font-family: $font-family-sans-serif;
  font-size: $root-font-size;
  line-height: $root-line-height;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  color: $body-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $link-color;
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}
